@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar{
    height: 0px;
    width: 0px;
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body{
    background: url('../pacote-d013/imagens/fundo-madeira.jpg') top center no-repeat fixed;
    background-size: cover;
}

main{
    position: relative;
    height: 100vh;
}

section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    
    height: 568px;
    width: 311px;
    background: url('../pacote-d013/imagens/frame-iphone-p.png') no-repeat fixed;
    background-size: contain;
}

iframe#tela{
    position: relative;
    top: 74px;
    left: 21px;
    height: 424px;
    width: 241px;
    border-radius: 3px;
}

#redes-sociais{
    text-align: right;
}

#redes-sociais img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.401);
    box-sizing: border-box;                             /*borda vai fazer parte da caixa*/
}

#redes-sociais img:hover{
    border: 1px solid rgba(255, 255, 255, 0.656);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.401);
    transition: transform .3s, border .5s;
}

.prop{
    position: absolute;
    top: 95%;
    left: 3%;
    max-width: 194px;
    color: rgba(0, 0, 0, 0.452);
}
.prop a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.452);
}

.prop a:hover{
    color: black;
}